:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --main-font-color: #353430;
  --accent-font-color: #353430;
  --main-title-color: #ffc2e6;
  --header-menu-color: #353430;
  --content-section-title-color: #353430;
  --header-menu-color-hover: rgb(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --main-font-color: #353430;
    --accent-font-color: #353430;
    --main-title-color: #ffc2e6;
    --header-menu-color: #353430;
    --content-section-title-color: #353430;
    --header-menu-color-hover: rgb(53, 52, 48, 0.4);
  }

  .theme-auto .header__dark_theme_decoration {
    display: none;
  }
}

.theme-light .header__dark_theme_decoration {
  display: none;
}
